{%extends 'base_generic.html'%}
{% load static %}
{%block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="d-flex justify-content-center align-items-center mb-4">EDITAIS DO ANO TAL</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <div class="d-flex justify-content-center ">
                <ul class="list-group list-group w-100 border-3">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-center">
                <ul class="list-group list-group w-100 border-3">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Edital tal do curso tal</div>
                            <a href="#">Aqui fica o link do PDF do edital</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}