{%extends 'base_generic.html'%}
{% load static %}
{%block content%}

<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="text-center">Notícias</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <img src="{% static 'images/foto_if.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Notícia</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, vel facilis
                        temporibus unde non a, doloremque laudantium odit id velit dignissimos. Debitis tempore
                        reiciendis omnis possimus, ex dicta veniam dolores.</p>
                    <p class="card-text"><small class="text-muted">Há 2 dias</small></p>
                    <a href="#">
                        <button class="btn btn-outline-success fs-5 lh-1 mt-3" type="submit">Leia mais</button>
                    </a>
                </div>
            </div>
            <div class="card mb-3">
                <img src="Img/foto_if.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Notícia</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, vel facilis
                        temporibus unde non a, doloremque laudantium odit id velit dignissimos. Debitis tempore
                        reiciendis omnis possimus, ex dicta veniam dolores.</p>
                    <p class="card-text"><small class="text-muted">Há 2 dias</small></p>
                    <a href="#">
                        <button class="btn btn-outline-success fs-5 lh-1 mt-3" type="submit">Leia mais</button>
                    </a>
                </div>
            </div>
            <div class="card mb-3">
                <img src="{% static 'images/foto_if.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Notícia</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, vel facilis
                        temporibus unde non a, doloremque laudantium odit id velit dignissimos. Debitis tempore
                        reiciendis omnis possimus, ex dicta veniam dolores.</p>
                    <p class="card-text"><small class="text-muted">Há 2 dias</small></p>
                    <a href="#">
                        <button class="btn btn-outline-success fs-5 lh-1 mt-3" type="submit">Leia mais</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <img src="{% static 'images/foto_if.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Notícia</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, vel facilis
                        temporibus unde non a, doloremque laudantium odit id velit dignissimos. Debitis tempore
                        reiciendis omnis possimus, ex dicta veniam dolores.</p>
                    <p class="card-text"><small class="text-muted">Há 2 dias</small></p>
                    <a href="#">
                        <button class="btn btn-outline-success fs-5 lh-1 mt-3" type="submit">Leia mais</button>
                    </a>
                </div>
            </div>
            <div class="card mb-3">
                <img src="{% static 'images/foto_if.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Notícia</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, vel facilis
                        temporibus unde non a, doloremque laudantium odit id velit dignissimos. Debitis tempore
                        reiciendis omnis possimus, ex dicta veniam dolores.</p>
                    <p class="card-text"><small class="text-muted">Há 2 dias</small></p>
                    <a href="#">
                        <button class="btn btn-outline-success fs-5 lh-1 mt-3" type="submit">Leia mais</button>
                    </a>
                </div>
            </div>
            <div class="card mb-3">
                <img src="{% static 'images/foto_if.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Notícia</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, vel facilis
                        temporibus unde non a, doloremque laudantium odit id velit dignissimos. Debitis tempore
                        reiciendis omnis possimus, ex dicta veniam dolores.</p>
                    <p class="card-text"><small class="text-muted">Há 2 dias</small></p>
                    <a href="#">
                        <button class="btn btn-outline-success fs-5 lh-1 mt-3" type="submit">Leia mais</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}